.banner {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 70%;
  padding: 5em;
  margin: 0 auto;
  background-image: url('../images/pizzabanner.jpg');
  background-repeat: no-repeat;
  font-size: 200%;
  color:white;
  font-weight: bolder;
  /* border: 1px solid black; */
}